<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Mobi Decks - Leaderboard</title>
    <link rel="icon" type="image/png" href="/images/graphics/favicon.png">


    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/archive.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />



    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- Scripts for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

  </head>

  <body>
    <%- include('./partials/_header'); -%>

    <div class='container archive'>
      <div class='card archive-container'>
        <h1>Leaderboard</h1>
        <div class='game-toggle'>
          <a class='goofToggle'>
            <img src='/images/graphics/face.png' />
          </a>
          <a class='crazyToggle'>
            <img src='/images/graphics/crazy.png' />
          </a>
        </div>
        <small class='text-muted'>Click a Game to toggle to the Game's Leaderboard</small>
        <div class='row'>
          <div class='col'></div>
        </div>
        <table class="table archive-box">
          <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">Name</th>
              <th scope="col">Wins</th>
            </tr>
          </thead>
          <tbody class='goofBoard'>
            <% let count = 1;  %>
            <% for(const [idx, result] of leaderBoard.entries()) { %>
                <% if (result.game === 'goof') { %>
                  <tr>
                    <th scope="row"><%= count %></th>
                    <td><%= result.username %></td>
                    <td><%= result.number_of_wins %></td>
                  </tr>
                  <% count += 1; }%>
            <% } %>
          </tbody>
          <tbody class='crazyBoard'>
            <% count = 1;  %>
            <% for(const [idx, result] of leaderBoard.entries()) { %>
              <% if (result.game === 'crazy') { %>
                <tr>
                  <th scope="row"><%= count %></th>
                  <td><%= result.username %></td>
                  <td><%= result.number_of_wins %></td>
                </tr>
              <% count += 1; }%>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

  <script>
    $(".crazyBoard").hide();
    $(".goofToggle").click(function() {
      $(".crazyBoard").hide();
      $(".goofBoard").show();
    })

    $(".crazyToggle").click(function() {
      $(".goofBoard").hide();
      $(".crazyBoard").show();
    })

  </script>

  </body>
</html>

